// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    background-image: url("../img/dust_scratches.png");
}

.card{
    border: 0;
    box-shadow: 1px 1px 1px #ccc;
}

.carousel{
    img{
        max-height: 450px;
    }
}

.almanach{
    background: rgba(0, 0, 0, 0.3);
    margin: 2rem 0;
    padding: 1.5rem 0;
}

.feed{
    background: rgba(0, 0, 0, 0.3);
    margin: 2rem 0;
    padding: 1.5rem 0;
}
